
   

body{
	background-image: url("Images/Projet_Prog1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Time New Roman, serif;
	overflow:hidden;
}

audio{
	margin-bottom: 300px;
	width:100px;
	height: 30px;	
}



/* User interface */
#TableauPerso{
  display: flex;
  border: 3px solid black;
  margin-left: 2px;
  width: 500px;
  height: 100px;
  justify-content: space-around;
  background-color: gray;
  background: linear-gradient(#360606,#3b1e1e);
  box-shadow: 3px 3px 10px #000000;
  border-radius:5px;
}

#imagePerso{
  display: flex;
  border: 3px solid black;
  margin-top: 5px;
  width: 100px;
  height: 80px;
  background-color: #736d6d;
  box-shadow: 2px 2px 5px #000000;
  background-image: url("Images/Maeila2.png");
  background-size: cover;
  background-repeat: no-repeat;
	
  
}

#partieSuperieure{
  display: flex;
  margin-left: 2px;
  width: 1500px;
  height: 100px; 
  justify-content: space-between;
}


/* Monster Interface */

#partieInferieure{
  display: flex;
  margin-left: 2px;
  margin-top: 200px;
  width: 300px;
  height: 400px; 
  flex-direction: column;
}

#zone{
	display: flex;
	
}


#HpMonstreReel{
  display: flex;
  width: 30px;
  height: 20px;
  justify-content: center;
}
#HpMonstreFix{
  display: flex;
  width: 30px;
  height: 20px;
}

#degatMonstre{
  display: flex;
  height: 20px;
  width: 110px;
  margin-top: 20;    
}

/* Caractéristiques */

#HP{
  display: flex;
  border: 2px solid black;
  height: 70px;
  width: 100px;
  margin-top: 10px;
  justify-content: space-around;
  box-shadow: 1px 1px 5px #000000;
  background-color: #6a2020;
  border-radius: 5px;
  font-size: 17px;
}

#Mana{
  display: flex;
  border: 2px solid black;
  height: 70px;
  width: 100px;
  margin-top: 10px;
  justify-content: space-around;
  box-shadow: 1px 1px 5px #000000;
  background-color: #203b6a;
  border-radius: 5px;

}

#Ultime{
  display: flex;
  border: 2px solid black;
  height: 70px;
  width: 100px;
  margin-top: 10px;
  justify-content: space-around;
  box-shadow: 1px 1px 5px #000000;
  background-color: #6a5f20;
  border-radius: 5px;
}

.scoreFix{
  display: flex;
  align-self: flex-end;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}

.scoreReel{
  display: flex;
  align-self: flex-end;
  margin-bottom: 10px;
  font-size: 17px;
}

/* --- Boutons ---*/

.button {
	display:inline-block;
	box-shadow: 0px -1px 11px 3px #403d3e;
	background-color:#333332;
	border-radius:7px;
	border:2px solid #000000;	
	cursor:pointer;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:17px;
	padding:9px 22px;
	text-decoration:none;
	border: 1px solid #000000;
	height: 40px;
	width: 170px;
	justify-content: center;
}
.button:hover {
	background-color:#7d4242;
}
.button:active {
	position:relative;
	top:1px;
}

#passerTour{
	display:inline-block;
	box-shadow: 0px -1px 11px 3px #992413;
	background-color:#403d3e;
	border-radius:7px;
	border:2px solid #000000;	
	cursor:pointer;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:17px;
	padding:9px 22px;
	text-decoration:none;
	border: 1px solid #000000;
	height: 40px;
	width: 170px;
	justify-content: center;
}
#passerTour:hover {
	background-color:#7d4242;
}
#passerTour:active {
	position:relative;
	top:1px;
}
	



#action{
	
  display: flex;
  border: 3px solid black;
  margin-left: 2px;
  margin-top: 20px;
  width: 200px;
  height: 270px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background:linear-gradient(#360606,#3b1e1e);
  box-shadow: 2px 2px 5px #000000;
}


/* ---- Boss ----*/

#boss{
	display:flex;
	width: 270px;
	height: 400px;
	margin-left: 360px;
	margin-top: 240px;
	background-image: url("Images/Boss1.png");
	background-position: cover;
	background-repeat: no-repeat;	
}

.CaraBoss{
  display: flex;
  border: 2px solid black;
  height: 20px;
  width: 150px;
  margin-top: 10px;
  margin-left: 65px;
  justify-content: center;
  box-shadow: 1px 1px 5px #000000;
  background-color: #a40c0c;
  border-radius: 5px;
  font-size: 20px;
  letter-spacing: 2px;
}

#HpBoss{
display: flex;
}


/* ---- Boite de dialogue ----*/

#Dialogue{
	display: flex;
	border: 3px solid #360606;
	width : 180px;
	height: 100px;
	margin-left: 12px;
	background-color: black;
	opacity: 0.8;
	box-shadow: 2px 2px 5px #000000;
	color: #ffffff;
	font-size: 13px;
	
	
	
	
}
	
